.octodex {
  /*Apparently this is not needed but could be useful if you were putting in a background color*/
  /*margin: 50, 50, 50, 50;
  /*height: 500px;*/
  /*width: 97%;
  background-color: #dff3dd;*/
}
/*This will put the octocat photos inline and only take 1/3 of the page
Also adds in the padding for the spacing between the images*/
.octocat {
  display: inline-block;
  width: 30%;
  padding-right: 10px;
  padding-left: 10px;
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  /*This is commented out but can be used in tandem with the octodex background color*/
}
.octocat > a img{
  /*Creates the grey border around the octocat images, allows photos to take entire width (30%) set
  above which will auto the height*/
  width: 100%;
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  background-color: white;
}
.image-footer{
  /*Creates the grey line at bottom of footer, also sets height of */
  /*border: 3px solid pink;*/
  height: 35px;
  padding-right: 15px;
  border-bottom: 1px solid #b2b2b2;
}
.image-footer img{
  /*display: inline-block;*/
  width: 100%;

}
ul {
  list-style: none;
}
.image-number{
  color: #cccccc;
  font-weight: bold;
  position: relative;
  float:left;
  top: 5px;
}
.image-number::before{
  content: "#";
}
.image-caption{
  float: right;
  color: gray;
  margin-right: -20px;
  margin-top: 5px;
  font-family: sans-serif;
  font-weight: bold;

}
.image-caption a{
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.authors{
  float: right;
  /*display: inline;*/
  padding: 5px;
}
.authors img{
  /*display: inline;*/
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  margin-top: -10px;
}
.image-footer::before{
  /*Here is an attempt at the little arrow below the octocat images.  But maybe could go with the .image-footer*/
  /*content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #b2b2b2;*/
}
