.octodex {
  margin-top: 10px;
  margin-left: 50, 50, 50, 100;
  height: 300px;
}
.octocat {
  display: inline-block;
  width: 30%;
  padding-right: 10px;
  padding-left: 10px;
}
.octocat > a img{
  width: 100%;
  border: 1px solid #b2b2b2;
  border-radius: 3px;

}
.octocat a::before{
  /*width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #b2b2b2;*/
}
.image-footer{
  /*border: 3px solid pink;*/
  height: 35px;
  padding-right: 15px;
  border-bottom: 1px solid #b2b2b2;
}
.image-footer img{
  /*display: inline-block;*/
  width: 100%;

}
ul {
  list-style: none;
}
.image-number{
  color: #cccccc;
  font-weight: bold;
  position: relative;
  float:left;
  top: 5px;
}
.image-number::before{
  content: "#";
}
.image-caption{
  float: right;
  color: gray;
  margin-right: -20px;
  margin-top: 5px;
  font-family: sans-serif;
  font-weight: bold;

}
.image-caption a{
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.authors{
  float: right;
  /*display: inline;*/
  padding: 5px;
}
.authors img{
  /*display: inline;*/
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  margin-top: -10px;
}
.image-footer::before{
  /*width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #b2b2b2;*/
}
